.poem-card {
  padding: 10px;
  background-color: rgb(236, 232, 221);
  border: 1px solid darkkhaki;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    background-color: floralwhite;
  }

  @media screen and (min-width: 1280px) {
    height: 300px;
    width: 300px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  &__author {
    font-size: 1.2rem;
    margin-bottom: 10px;

    span {
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  &__lines {
    font-size: 0.9rem;
  }

  &__line {
    margin-bottom: 5px;
  }

  &__ellipsis {
    font-size: 1.2rem;
  }
}