.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  text-decoration: underline;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  &__poetrydb {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}