.greeting {
  
  h1 {
    font-size: 3.5rem;
  }

  p {
    margin-top: 20px;
  }
}

.get-random {
  text-align: center;
  margin: 80px 0;

  button {
    margin-top: 10px;
  }
}

.recommendations {
  background-color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;

  h2 {
    margin-bottom: 10px;
    font-size: 1.65rem;

    @media screen and (min-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
    }
  }
}